{% extends 'admin/base.html' %}
{% load static %}
{% block extrastyle %}

<link href="{% static 'css/blog/adminstyle.css' %}" rel="stylesheet">
{% endblock %}

<!-- admin.js -->

{% block branding %}
<div class="branding_new">
    <img src="{% static 'img/blog.ico' %}" alt="" width="30" height="30" />
    <p>Me admin panel</p>
</div>
{% endblock %}
<!-- 
{% block shifted %}
<div class="container" id="myId">
    <div class="row">
        <h1>TEST</h1>
    </div>
</div>
{% endblock %} -->

{% block scripts %}
<!-- <script src="{% static 'js/admin.js' %}"></script> -->
{% endblock %}